@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@utility bg-grid-pattern {
  background-size: 25px 25px;
  background-image: 
    linear-gradient(to right, rgba(165, 180, 252, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(165, 180, 252, 0.08) 1px, transparent 1px);

  background-position: center top !important;
}

@utility bg-vignette-mask {
  mask-image: radial-gradient(ellipse at center, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(ellipse at center, black 40%, transparent 100%);
}

@theme {
  --color-bg-dark: #0a0b10;
  --color-bg-mid: #0a081a;
  --color-bg-light: #16103c;
}

@keyframes glowOnce {
    0% {
    transform: translate(-50%, -50%) scale(0.8);
   
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
    
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    
  }
}
.glow-once {
  animation: glowOnce 1.5s ease-in-out forwards;
}

@keyframes fadeText {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.greeting-anim {
  animation: fadeText 1s ease-in-out forwards;
}